{% extends 'webpanel/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Home</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
      {% for server in servers %}
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">{{server.Name}}</h1>
            <p class="card-text">
              Server IP: {{server.IP}} <br>
              Server Port: {{server.Port}} <br>
            </p>
            <button type="button" class="btn btn-success btn-lg">Start</button>
            <button type="button" class="btn btn-danger btn-lg">Stop</button>
            <button type="button" class="btn btn-warning btn-lg">Restart</button>
            <button type="button" class="btn btn-info btn-lg">Infos</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary float-left" onclick="location.href = 'newserver';">
          Add server
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}