{% extends 'webpanel/base.html' %}
{% block content %}
{% load static%}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Home</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-->
  </div>
  <div class="container-fluid">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="container-fluid">
    {% for server in servers %}
    <div class="row">
      <div class="col-auto d-flex align-items-stretch">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{ server.Name }}</h3>
          </div>
          <div class="card-body d-flex flex-row">
            <p class="card-text">
              <h4>
              <u>IP:</u> {{ server.IP }} <br>
              <u>Port:</u> {{ server.Port }} <br>
              </h4>
            </p>
            <a target="_blank" class="btn btn-success btn-lg align-self-end" href="{% url 'controlserver' server_path=server.Path control='start' %}">Start</a>
            <a target="_blank" class="btn btn-danger btn-lg align-self-end" href="{% url 'controlserver' server_path=server.Path control='stop' %}">Stop</a>
            <a target="_blank" class="btn btn-warning btn-lg align-self-end" href="{% url 'controlserver' server_path=server.Path control='restart' %}">Restart</a>
            <a target="_blank" class="btn btn-info btn-lg align-self-end" href="{% url 'controlserver' server_path=server.Path control='update' %}">Update</a>
          </div>
        </div>
        <div class="col-auto d-flex align-items-stretch">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Player Stats</h3>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="areaChart{{ server.Name }}" style="min-height: 100px; height: 200px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <script >
        $.ajax({
          method: 'GET',
          url: '/data/{{ server.Name }}',
          success: function(data){
            console.log(data)
            new Chart(document.getElementById("areaChart{{ server.Name }}"), {
              type: 'line',
              data: {
                labels: data.labels,
                datasets: [
                  {
                    label               : 'Number of players',
                    backgroundColor     : 'rgba(60,141,188,0.9)',
                    borderColor         : 'rgba(60,141,188,0.8)',
                    pointRadius         : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: data.data,
                  },
                  ]
              },
              options: {
                maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          },
          ticks: {
            min: 0,
            max: data.max
          }
        }]
      }
              }
          });
      },
          error: function(data){
            console.log('Error');
          }
        });
      </script>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary float-left" onclick="location.href = 'newserver';">
          Add server
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}