{% extends 'webpanel/base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Server n°1</h1>
            <p class="card-text">
              Server status: Print Status here
            </p>
            <button type="button" class="btn btn-success btn-lg">Start</button>
            <button type="button" class="btn btn-danger btn-lg">Stop</button>
            <button type="button" class="btn btn-warning btn-lg">Restart</button>
            <button type="button" class="btn btn-info btn-lg">Infos</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Server n°2</h1>
            <p class="card-text">
              Server status: Print Status here
            </p>
            <button type="button" class="btn btn-success btn-lg">Start</button>
            <button type="button" class="btn btn-danger btn-lg">Stop</button>
            <button type="button" class="btn btn-warning btn-lg">Restart</button>
            <button type="button" class="btn btn-info btn-lg">Infos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}